.flex-container {
    background-color: aquamarine;
    height: 90vh;
    display: flex;
    /*Eje principal del contenedor flex*/
    flex-direction: row;
    /* Alineación de los elementos en base al eje principal*/
    justify-content: flex-start;
    /* Alineación de los elementos en base al eje secundarios */
    align-items: center;
    /* Flex wrap*/
    flex-wrap: wrap;
    /* Alinear el contenido */
    align-content: normal;
  }
  
  .flex-container > div {
    background-color: blueviolet;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: fit-content;
    height: fit-content;
  }